/* photo stylin */

body {

}

.wrapper {
	background: #deb887;
	border: 20px solid #8b4513;
	padding-bottom: 30px;
}

* {
	box-sizing: border-box;
}

/* search bar */

#search {
	width: 40%;
	display: block;
	margin: 2em auto;
	outline: none;
	border-radius: 5px;
}

/* photo's */

#gallery {
	margin: auto 30px;
	text-align: center;
}

img {
	width: 100%;
	margin: auto;
}

	#gallery {
		padding: 0;
	}
	
	li {
		list-style-type: none;
		font-style: oblique;
		font-weight: bold;
	}

	.pic img{
			margin: 10px auto;
			border-radius: 90%;
		}

/* media queries */

@media (min-width: 650px) {
	
	
	#gallery {
		width: 95%;
		margin: auto;
		text-align: center;
	}
	
	li {
		display: inline-block;
	    width: 250px;
		height: 250px;
		margin: 15px;
	}

	
}